/**
 * 1.0 - Reset
 * --------------------------------------------------------------
 */

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
figure { margin: 0; }
figcaption { text-align: center; }
img { border: 0; -ms-interpolation-mode: bicubic; }
a:hover, a:active, a:focus { outline: none; -moz-outline-style: none; }
input, textarea, select { -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; }

::-webkit-input-placeholder { color: #101010; }
input:-moz-placeholder { color: #101010; }
::-moz-placeholder { color: #101010; }
:-ms-input-placeholder { color: #101010; }


/**
 * 2.0 - General Styles
 * --------------------------------------------------------------
 */

/* --- Grid --- */
.s-cf:before,.s-cf:after{content:' ';display:table}.s-cf:after{clear:both}.s-cf{*zoom:1}.s-hide{display:none}.s-float-right{float:right}.s-float-left{float:left}.s-center-text{text-align:center}.s-left-text{text-align:left}.s-right-text{text-align:right}.s-container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media(max-width:768px){.s-container{max-width:750px}}@media(min-width:992px){.s-container{max-width:970px}}@media(min-width:1200px){.s-container{max-width:1200px}}.s-row{margin-right:-15px;margin-left:-15px}.s-xs-1,.s-sm-1,.s-md-1,.s-lg-1,.s-xs-2,.s-sm-2,.s-md-2,.s-lg-2,.s-xs-3,.s-sm-3,.s-md-3,.s-lg-3,.s-xs-4,.s-sm-4,.s-md-4,.s-lg-4,.s-xs-5,.s-sm-5,.s-md-5,.s-lg-5,.s-xs-6,.s-sm-6,.s-md-6,.s-lg-6,.s-xs-7,.s-sm-7,.s-md-7,.s-lg-7,.s-xs-8,.s-sm-8,.s-md-8,.s-lg-8,.s-xs-9,.s-sm-9,.s-md-9,.s-lg-9,.s-xs-10,.s-sm-10,.s-md-10,.s-lg-10,.s-xs-11,.s-sm-11,.s-md-11,.s-lg-11,.s-xs-12,.s-sm-12,.s-md-12,.s-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.s-xs-1,.s-xs-2,.s-xs-3,.s-xs-4,.s-xs-5,.s-xs-6,.s-xs-7,.s-xs-8,.s-xs-9,.s-xs-10,.s-xs-11,.s-xs-12{float:left}.s-xs-12{width:100%}.s-xs-11{width:91.66666667%}.s-xs-10{width:83.33333333%}.s-xs-9{width:75%}.s-xs-8{width:66.66666667%}.s-xs-7{width:58.33333333%}.s-xs-6{width:50%}.s-xs-5{width:41.66666667%}.s-xs-4{width:33.33333333%}.s-xs-3{width:25%}.s-xs-2{width:16.66666667%}.s-xs-1{width:8.33333333%}.s-xs-pull-12{right:100%}.s-xs-pull-11{right:91.66666667%}.s-xs-pull-10{right:83.33333333%}.s-xs-pull-9{right:75%}.s-xs-pull-8{right:66.66666667%}.s-xs-pull-7{right:58.33333333%}.s-xs-pull-6{right:50%}.s-xs-pull-5{right:41.66666667%}.s-xs-pull-4{right:33.33333333%}.s-xs-pull-3{right:25%}.s-xs-pull-2{right:16.66666667%}.s-xs-pull-1{right:8.33333333%}.s-xs-pull-0{right:auto}.s-xs-push-12{left:100%}.s-xs-push-11{left:91.66666667%}.s-xs-push-10{left:83.33333333%}.s-xs-push-9{left:75%}.s-xs-push-8{left:66.66666667%}.s-xs-push-7{left:58.33333333%}.s-xs-push-6{left:50%}.s-xs-push-5{left:41.66666667%}.s-xs-push-4{left:33.33333333%}.s-xs-push-3{left:25%}.s-xs-push-2{left:16.66666667%}.s-xs-push-1{left:8.33333333%}.s-xs-push-0{left:auto}.s-xs-offset-12{margin-left:100%}.s-xs-offset-11{margin-left:91.66666667%}.s-xs-offset-10{margin-left:83.33333333%}.s-xs-offset-9{margin-left:75%}.s-xs-offset-8{margin-left:66.66666667%}.s-xs-offset-7{margin-left:58.33333333%}.s-xs-offset-6{margin-left:50%}.s-xs-offset-5{margin-left:41.66666667%}.s-xs-offset-4{margin-left:33.33333333%}.s-xs-offset-3{margin-left:25%}.s-xs-offset-2{margin-left:16.66666667%}.s-xs-offset-1{margin-left:8.33333333%}.s-xs-offset-0{margin-left:0}@media(min-width:768px){.s-sm-1,.s-sm-2,.s-sm-3,.s-sm-4,.s-sm-5,.s-sm-6,.s-sm-7,.s-sm-8,.s-sm-9,.s-sm-10,.s-sm-11,.s-sm-12{float:left}.s-sm-12{width:100%}.s-sm-11{width:91.66666667%}.s-sm-10{width:83.33333333%}.s-sm-9{width:75%}.s-sm-8{width:66.66666667%}.s-sm-7{width:58.33333333%}.s-sm-6{width:50%}.s-sm-5{width:41.66666667%}.s-sm-4{width:33.33333333%}.s-sm-3{width:25%}.s-sm-2{width:16.66666667%}.s-sm-1{width:8.33333333%}.s-sm-pull-12{right:100%}.s-sm-pull-11{right:91.66666667%}.s-sm-pull-10{right:83.33333333%}.s-sm-pull-9{right:75%}.s-sm-pull-8{right:66.66666667%}.s-sm-pull-7{right:58.33333333%}.s-sm-pull-6{right:50%}.s-sm-pull-5{right:41.66666667%}.s-sm-pull-4{right:33.33333333%}.s-sm-pull-3{right:25%}.s-sm-pull-2{right:16.66666667%}.s-sm-pull-1{right:8.33333333%}.s-sm-pull-0{right:auto}.s-sm-push-12{left:100%}.s-sm-push-11{left:91.66666667%}.s-sm-push-10{left:83.33333333%}.s-sm-push-9{left:75%}.s-sm-push-8{left:66.66666667%}.s-sm-push-7{left:58.33333333%}.s-sm-push-6{left:50%}.s-sm-push-5{left:41.66666667%}.s-sm-push-4{left:33.33333333%}.s-sm-push-3{left:25%}.s-sm-push-2{left:16.66666667%}.s-sm-push-1{left:8.33333333%}.s-sm-push-0{left:auto}.s-sm-offset-12{margin-left:100%}.s-sm-offset-11{margin-left:91.66666667%}.s-sm-offset-10{margin-left:83.33333333%}.s-sm-offset-9{margin-left:75%}.s-sm-offset-8{margin-left:66.66666667%}.s-sm-offset-7{margin-left:58.33333333%}.s-sm-offset-6{margin-left:50%}.s-sm-offset-5{margin-left:41.66666667%}.s-sm-offset-4{margin-left:33.33333333%}.s-sm-offset-3{margin-left:25%}.s-sm-offset-2{margin-left:16.66666667%}.s-sm-offset-1{margin-left:8.33333333%}.s-sm-offset-0{margin-left:0}}@media(min-width:992px){.s-md-1,.s-md-2,.s-md-3,.s-md-4,.s-md-5,.s-md-6,.s-md-7,.s-md-8,.s-md-9,.s-md-10,.s-md-11,.s-md-12{float:left}.s-md-12{width:100%}.s-md-11{width:91.66666667%}.s-md-10{width:83.33333333%}.s-md-9{width:75%}.s-md-8{width:66.66666667%}.s-md-7{width:58.33333333%}.s-md-6{width:50%}.s-md-5{width:41.66666667%}.s-md-4{width:33.33333333%}.s-md-3{width:25%}.s-md-2{width:16.66666667%}.s-md-1{width:8.33333333%}.s-md-pull-12{right:100%}.s-md-pull-11{right:91.66666667%}.s-md-pull-10{right:83.33333333%}.s-md-pull-9{right:75%}.s-md-pull-8{right:66.66666667%}.s-md-pull-7{right:58.33333333%}.s-md-pull-6{right:50%}.s-md-pull-5{right:41.66666667%}.s-md-pull-4{right:33.33333333%}.s-md-pull-3{right:25%}.s-md-pull-2{right:16.66666667%}.s-md-pull-1{right:8.33333333%}.s-md-pull-0{right:auto}.s-md-push-12{left:100%}.s-md-push-11{left:91.66666667%}.s-md-push-10{left:83.33333333%}.s-md-push-9{left:75%}.s-md-push-8{left:66.66666667%}.s-md-push-7{left:58.33333333%}.s-md-push-6{left:50%}.s-md-push-5{left:41.66666667%}.s-md-push-4{left:33.33333333%}.s-md-push-3{left:25%}.s-md-push-2{left:16.66666667%}.s-md-push-1{left:8.33333333%}.s-md-push-0{left:auto}.s-md-offset-12{margin-left:100%}.s-md-offset-11{margin-left:91.66666667%}.s-md-offset-10{margin-left:83.33333333%}.s-md-offset-9{margin-left:75%}.s-md-offset-8{margin-left:66.66666667%}.s-md-offset-7{margin-left:58.33333333%}.s-md-offset-6{margin-left:50%}.s-md-offset-5{margin-left:41.66666667%}.s-md-offset-4{margin-left:33.33333333%}.s-md-offset-3{margin-left:25%}.s-md-offset-2{margin-left:16.66666667%}.s-md-offset-1{margin-left:8.33333333%}.s-md-offset-0{margin-left:0}}@media(min-width:1200px){.s-lg-1,.s-lg-2,.s-lg-3,.s-lg-4,.s-lg-5,.s-lg-6,.s-lg-7,.s-lg-8,.s-lg-9,.s-lg-10,.s-lg-11,.s-lg-12{float:left}.s-lg-12{width:100%}.s-lg-11{width:91.66666667%}.s-lg-10{width:83.33333333%}.s-lg-9{width:75%}.s-lg-8{width:66.66666667%}.s-lg-7{width:58.33333333%}.s-lg-6{width:50%}.s-lg-5{width:41.66666667%}.s-lg-4{width:33.33333333%}.s-lg-3{width:25%}.s-lg-2{width:16.66666667%}.s-lg-1{width:8.33333333%}.s-lg-pull-12{right:100%}.s-lg-pull-11{right:91.66666667%}.s-lg-pull-10{right:83.33333333%}.s-lg-pull-9{right:75%}.s-lg-pull-8{right:66.66666667%}.s-lg-pull-7{right:58.33333333%}.s-lg-pull-6{right:50%}.s-lg-pull-5{right:41.66666667%}.s-lg-pull-4{right:33.33333333%}.s-lg-pull-3{right:25%}.s-lg-pull-2{right:16.66666667%}.s-lg-pull-1{right:8.33333333%}.s-lg-pull-0{right:auto}.s-lg-push-12{left:100%}.s-lg-push-11{left:91.66666667%}.s-lg-push-10{left:83.33333333%}.s-lg-push-9{left:75%}.s-lg-push-8{left:66.66666667%}.s-lg-push-7{left:58.33333333%}.s-lg-push-6{left:50%}.s-lg-push-5{left:41.66666667%}.s-lg-push-4{left:33.33333333%}.s-lg-push-3{left:25%}.s-lg-push-2{left:16.66666667%}.s-lg-push-1{left:8.33333333%}.s-lg-push-0{left:auto}.s-lg-offset-12{margin-left:100%}.s-lg-offset-11{margin-left:91.66666667%}.s-lg-offset-10{margin-left:83.33333333%}.s-lg-offset-9{margin-left:75%}.s-lg-offset-8{margin-left:66.66666667%}.s-lg-offset-7{margin-left:58.33333333%}.s-lg-offset-6{margin-left:50%}.s-lg-offset-5{margin-left:41.66666667%}.s-lg-offset-4{margin-left:33.33333333%}.s-lg-offset-3{margin-left:25%}.s-lg-offset-2{margin-left:16.66666667%}.s-lg-offset-1{margin-left:8.33333333%}.s-lg-offset-0{margin-left:0}}@media(max-width:767px){.s-hidden-xs{display:none !important}}@media(min-width:768px) and (max-width:991px){.s-hidden-sm{display:none !important}}@media(min-width:992px) and (max-width:1199px){.s-hidden-md{display:none !important}}@media(min-width:1200px){.s-hidden-lg{display:none !important}}

/* --- Body --- */
body {
	background: #f4f4f4;
	font-family: 'Source Code Pro', Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #101010;
	overflow: hidden;
}

/* --- Headings --- */
h1, h2,h3, h4, h5, h6 {
	font-family: 'Source Code Pro', Arial, sans-serif;
	font-weight: 700;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
			hyphens: auto;
}
h1 {
	font-size: 26px;
	font-size: 1.625rem;
	line-height: 1.385;
}
h2 {
	font-size: 24px;
	font-size: 1.500rem;
	line-height: 1.333;
}
h3 {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.4;
}
h4 {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.444;
}
h5 {
	font-size: 16px;
	font-size: 1rem;
}
h6 {
	font-size: 15px;
	font-size: 0.9375rem;
}
p {
	line-height: 1.8;
	margin-bottom: 40px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
b, strong {
	font-weight: 700;
}
dfn, em, i {
	font-style: italic;
}
img {
	display: block;
	max-width: 100%;
}


/**
 * 3.0 - Links + Colors
 * --------------------------------------------------------------
 */

a {
	font-size: 20px;
	font-size: 1.250rem;
	color: #101010;
	text-decoration: none;
	-webkit-transition: 0.4s;
	   -moz-transition: 0.4s;
		-ms-transition: 0.4s;
		 -o-transition: 0.4s;
			transition: 0.4s;
}
a:hover,
a:active,
a:focus {
	text-decoration: none;
}


/**
 * 4.0 - Content
 * --------------------------------------------------------------
 */

.content {
	position: relative;
	width: 100%;
	margin: 0 auto 50px;
	z-index: 2;
}
.text-small {
	font-size: 16px;
	font-size: 1rem;
}
.text-highlight {
	padding: 3px 0;
	border-bottom: 3px solid #19b5fe;
}

/* --- Header --- */
header {
	padding: 50px 0;
}
.header-logo,
.navigation {
	float: left;
	width: 40%;
	height: 80px;
}
.header-logo a {
	display: inline-block;
}
.navigation {
	float: right;
	width: 60%;
	text-align: right;
}
.navigation ul {
	list-style: none;
}
.navigation ul > li {
	display: inline-block;
	margin-left: 20px;
	font-size: 1.25rem;
	line-height: 80px;
}
.navigation ul > li:first-child {
	margin: 0;
}
.navigation ul li a.active {
	font-weight: 700;
}
.trigger-menu {
	float: right;
	position: relative;
	display: none;
	vertical-align: 0;
	height: 80px;
	width: 30px;
}
.trigger-menu span {
	margin: 0 auto;
	position: relative;
	top: 39px;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.trigger-menu span:before,
.trigger-menu span:after {
	content: '';
	position: absolute;
}
.trigger-menu span:after,
.trigger-menu span:before {
	background-color: #090909;
	display: block;
	height: 2px;
	width: 30px;
}
.trigger-menu span:before {
	margin-top: -4px;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: margin, -webkit-transform;
}
.trigger-menu span:after {
	margin-top: 4px;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: margin, -webkit-transform;
}
.trigger-menu.active span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.trigger-menu.active span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.trigger-menu.active span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.mobile-content {
	display: none;
	padding-top: 100px;
}
.mobile-content .mobile-navigation-menu li {
	display: block;
	margin: 0;
	border-bottom: 1px solid #eeeeee;
}
.mobile-content .mobile-navigation-menu li:last-child {
	border-bottom: 0;
}
.mobile-content .mobile-navigation-menu li a {
	display: block;
	padding: 10px 0;
}
.mobile-content .mobile-navigation-menu li a.active {
	font-weight: 700;
}
.mobile-content .mobile-navigation-menu li ul {
	display: none;	
}
.mobile-content .social-links {
	display: block;
	padding: 18px 12px 6px;
	margin: 0;
	border-top: 1px solid #eeeeee;
}
.mobile-content .social-links li {
	margin-right: 16px;
}

/* --- Services --- */
.services {
	margin-bottom: -10px;
	padding: 30px 0;
}
.services .column {
	float: left;
	display: flex;
	height: 250px;
	justify-content: center;
	align-items: center;
	width: 16.6666%;
}
.tile-box {
	display: block;
	position: relative;
	padding: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.tile-box .symbol {
	display: block;
	font-size: 80px;
	margin-bottom: 15px;
	width: auto;
	line-height: 1;
	color: #424242;
	transform: scale(1);
	transition: transform 0.5s cubic-bezier(0.175,0.885,0.32,1.275);
}
.tile-box .title {
	font-weight: 400;
	line-height: 1.625;
	overflow: ellipsis;
}
.tile-box:hover .symbol {
	transform: scale(0.85);
}

/* --- Icons --- */
@font-face{font-family:Icons;src:url(../fonts/icons.ttf) format('truetype'),url(../fonts/icons.woff) format('woff'),url(../fonts/icons.svg) format('svg');font-weight:400;font-style:normal}.icon,.icon--before:before{font-family:Icons!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:1.2em;height:1.2em;line-height:1.2;text-align:center;vertical-align:middle}.icon-ship:before{content:"\e909"}.icon-box-disabled:before{content:"\e907"}.icon-box-full:before{content:"\e906"}.icon-box-empty:before{content:"\e908"}.icon-envelope:before{content:"\e900"}.icon-twitter:before{content:"\e901"}.icon-facebook-f:before,.icon-facebook:before{content:"\e902"}.icon-check-square-o:before{content:"\e905"}.icon-dollar:before,.icon-usd:before{content:"\e904"}.icon-google-plus:before{content:"\f0d5"}.icon-pinterest:before{content:"\f231"}.icon-city:before{content:"\e60b"}.icon-pen:before{content:"\e60f"}.icon-pencil3:before{content:"\e610"}.icon-brush2:before{content:"\e61e"}.icon-pencil-ruler2:before{content:"\e62e"}.icon-tornado:before{content:"\e642"}.icon-cloud-upload:before{content:"\e64b"}.icon-cloud-download:before{content:"\e64c"}.icon-server:before{content:"\e666"}.icon-shield-check:before{content:"\e668"}.icon-lock:before{content:"\e66b"}.icon-hammer-wrench:before{content:"\e676"}.icon-envelope2:before{content:"\e696"}.icon-envelope-open:before{content:"\e697"}.icon-paperclip:before{content:"\e698"}.icon-binoculars:before{content:"\e6a9"}.icon-hdd-down:before{content:"\e6ac"}.icon-compare:before{content:"\e6b9"}.icon-register:before{content:"\e6d1"}.icon-medal-empty:before{content:"\e6dd"}.icon-user:before{content:"\e71e"}.icon-users2:before{content:"\e723"}.icon-users-plus:before{content:"\e724"}.icon-receipt:before{content:"\e757"}.icon-cash-dollar:before{content:"\e75a"}.icon-bag-dollar:before{content:"\e75e"}.icon-calendar-full:before{content:"\e789"}.icon-new-tab:before{content:"\e7b1"}.icon-cord:before{content:"\e7bf"}.icon-speed-fast:before{content:"\e836"}.icon-cube:before{content:"\e874"}.icon-smile:before{content:"\e88a"}.icon-dream:before{content:"\e88f"}.icon-shocked:before{content:"\e890"}.icon-cool:before{content:"\e895"}.icon-wow:before{content:"\e899"}.icon-mustache:before{content:"\e89f"}.icon-mustache-glasses:before{content:"\e8a8"}.icon-pipe:before{content:"\e8a9"}.icon-bullhorn:before{content:"\e8ae"}.icon-hourglass:before{content:"\e8cf"}.icon-return2:before{content:"\e8e1"}.icon-link2:before{content:"\e917"}.icon-thumbs-up3:before{content:"\e91d"}.icon-file-search:before{content:"\e923"}.icon-check:before{content:"\e934"}.icon-cross2:before{content:"\e935"}.icon-plus:before{content:"\e936"}.icon-minus:before{content:"\e937"}.icon-checkmark-circle:before{content:"\e959"}.icon-cross-circle:before{content:"\e95a"}.icon-plus-circle:before{content:"\e95b"}.icon-circle-minus:before{content:"\e95c"}.icon-arrow-right:before{content:"\e944"}.icon-wallet:before{content:"\e758"}.icon-credit-card:before{content:"\e759"}.icon-coin-dollar:before{content:"\e762"}.icon-calculator2:before{content:"\e767"}.icon-chevron-down:before{content:"\e93a"}.icon-magic-wand:before{content:"\e62b"}.icon-star:before{content:"\e68d"}.icon-mailbox-full:before{content:"\e693"}.icon-box:before{content:"\e69f"}.icon-eye:before{content:"\e6a5"}.icon-repeat:before{content:"\e6ee"}.icon-pictures:before{content:"\e711"}.icon-user-lock:before{content:"\e721"}.icon-abacus:before{content:"\e768"}.icon-vault:before{content:"\e769"}.icon-map-marker:before{content:"\e77a"}.icon-map:before{content:"\e781"}.icon-calendar-insert:before{content:"\e78a"}.icon-bubbles:before{content:"\e7d7"}.icon-bubble-dots:before{content:"\e7d8"}.icon-hammer2:before{content:"\e838"}.icon-history:before{content:"\e8e3"}.icon-watch:before{content:"\e8e9"}.icon-thumbs-up:before{content:"\e919"}.icon-question-circle:before{content:"\e957"}.icon-warning:before{content:"\e955"}.icon-funnel:before{content:"\e97c"}.icon-document:before{content:"\e6d8"}.icon-brush:before{content:"\e61d"}.icon-color-sampler:before{content:"\e627"}.icon-compass:before{content:"\e62f"}.icon-wind:before{content:"\e643"}.icon-database-upload:before{content:"\e664"}.icon-rotation-lock:before{content:"\e66c"}.icon-clipboard-pencil:before{content:"\e6ca"}.icon-bubble-emoticon:before{content:"\e7e2"}.icon-graph:before{content:"\e7fa"}.icon-chart-growth:before{content:"\e7fb"}.icon-sync:before{content:"\e8da"}.icon-refund:before{content:"\e8e2"}.icon-bug:before{content:"\e90a"}.icon-chevron-up:before{content:"\e939"}.icon-pencil-ruler:before{content:"\e62d"}.icon-beaker:before{content:"\e7f3"}.icon-magnifier:before{content:"\e922"}.icon-heart:before,.icon-like:before,.icon-love:before{content:"\e903"}.icon-rating:before{content:"\e839"}.icon-rating-o:before{content:"\e83a"}.icon-asc:before{content:"\e5ce"}.icon-desc:before{content:"\e5cf"}.icon-cloud-upload2:before{content:"\e2c3"}.icon-cloud-download2:before{content:"\e2c0"}.icon-file-download:before{content:"\e884"}.icon-file-upload:before{content:"\e2c6"}.icon-reddit:before{content:"\eac6"}.icon-stumbleupon:before{content:"\eace"}.icon-instagram:before{content:"\ea92"}

/* --- Page --- */
.section-top {
	background: #ffffff;
}
.section-top.padding-bottom {
	padding-bottom: 10px;
}
.hello {
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.hello p {
	margin: 0;
	line-height: 2.25;
}
.tags {
	margin-bottom: 45px;
}
.tags span {
	display: inline-block;
	margin-right: 25px;
	padding: 7px 0;
}
.tags span:last-child {
	margin: 0;
}
.tags a {
	position: relative;
}
.social {
	margin: 0;
}
.social p {
	margin: 0;
}
.social span {
	position: relative;
}
.theme {
	margin-bottom: 50px;
}
.theme:last-child {
	margin: 0;
}
.theme-content {
	padding: 50px 0;
}
.theme-intro {
	background: #ffffff;
	padding-bottom: 50px;
}
.theme-content h1 {
	margin-bottom: 12px;
}
.theme-intro p {
	margin: 0;
}
.theme-description {
	font-size: 20px;
	font-size: 1.250rem;
}
.theme-content .theme-buttons {
	margin: 0;
}
.theme-content .theme-buttons.right {
	text-align: right;
}
.theme-content .button {
	display: inline-block;
	font-family: 'Source Code Pro', Arial, sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	padding: 6px 9px;
	border: 1px solid #101010;
}
.theme-content .button:hover,
.theme-content .button:focus,
.theme-content .button:active {
	border-color: transparent;
}
.theme-content .button.download {
	background: #101010;
	color: #ffffff;
}
.theme-features {
	margin-top: 15px;
	margin-left: 20px;
}
.theme-features li {
	list-style: circle;
	padding: 4px 0;
	font-size: 18px;
	font-size: 1.125rem;
}
.order-response {
	font-size: 1.250rem;
}
.paypal-form a,
.paypal-form button {
	float: right;
	margin-left: 10px;
}

/* --- Clearings --- */
.s-row:before, .s-row:after,
.header:before, .header:after,
.services:before, .services:after,
.paypal-form:before, .paypal-form:after,
.social:before, .social:after {
	display: table;
	content: ' ';
}
.s-row:after,
.header:after,
.services:after,
.paypal-form:after,
.social:after {
	clear: both;
}

/* --- Error --- */
.error-page {
	padding: 45px 15px 0;
}
.error-page h1 {
	display: inline-block;
	font-size: 64px;
	font-size: 4rem;
	margin-bottom: 15px;
}

/* --- Effects --- */
.social span a:before,
.tags span a:before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	left: 0;
	width: 100%;
	height: 4px;
	pointer-events: none;
	background: #19b5fe;
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.8,0,0.2,1);
}
.social span a:hover:before, .social span a:focus:before,
.tags span a:hover:before, .tags span a:focus:before {
	transform: scale3d(1,1,1);
	transform-origin: 0% 50%;
}


/**
 * 6.0 - Responsive
 * --------------------------------------------------------------
 */

@media (max-width: 1199px) {
	.services .column {
		width: 25%;
		height: 250px;
	}
}

@media (max-width: 991px) {
	body {
		font-size: 24px;
		font-size: 1.5rem;
	}
	.theme-content img {
		margin-bottom: 24px;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 20px;
		font-size: 1.250rem;
	}
	.navigation ul {
		display: none;
	}
	.trigger-menu {
		display: block;
	}
	.theme-content .paypal-form a,
	.theme-content .paypal-form button {
		float: left;
	}
	.theme-content .theme-buttons.right {
		text-align: left;
		margin-top: -15px;
		margin-bottom: 25px;
	}
	.theme-content .paypal-form button {
		margin-left: 0;
	}
	.services .column {
		width: 50%;
		height: 180px;
	}
	.tile-box .symbol {
		font-size: 55px;
	}
}

@media (max-width: 479px) {
	body,
	a,
	.theme-description {
		font-size: 18px;
		font-size: 1.125rem;
	}
	.hello {
		line-height: 2;
	}
	.tags span {
		display: block;
		margin: 0;
	}
	.social p {
		padding: 1.5px 0;
	}
	.services .column {
		width: 100%;
		height: 160px;
	}
	.services .tile-box {
		padding: 15px;
	}
}